<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>{{modal.header}}</h3>
</div>
<div class="modal-body">

    <fieldset>
        <div id="titleWrapper" class="inputWrapper">
            <label>Behandling</label>
            <input type="text" id="inputTitle" ng-model="modal.title"/>
        </div>
        <!--<div id="alldayWrapper" class="inputWrapper">
            <label>Heldag</label>
            <input type="checkbox" ng-model="modal.allday" />
        </div>-->
        <div id="dateWrapper" class="inputWrapper">
            <label>Datum</label>
            <input type="text" ng-model="modal.start" data-date-format="yyyy-mm-dd" data-date-weekstart="1" data-date-language="sv-SV" bs-datepicker ng-change="dateSelect()" />
            <!--<button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button> -->          
        </div>
        <div id="timeWrapper" class="inputWrapper">
            <label>Tid</label>
            <input type="text" ng-model="modal.time" ng-change="timeSelect()" bs-typeahead="timeTable">

        </div>
    </fieldset>
    {{modal.start}}
    

</div>

<div class="modal-footer">
    <button class="btn btn-danger" ng-click="deleteEvent(modal.id);hide()">Ta bort</button>
    <button class="btn btn-success" ng-click="persistEvent();hide()">Spara</button>
</div>
